{% extends "conteneur.html" %}

{% block corps %}


<h1>Liste des mémoires</h1>
<div class="row">
    <div class="col">
        {% if memoires %}
        <p>Vous trouverez ici la liste de tous les mémoires présents sur la plateforme. Vous pouvez cliquer sur un item de la liste pour aller voir un mémoire en partiuclier et obtenir plus d'informations et de données, et notamment la possibilité de le télécharger.</p>
        <ul>
            {% for memoire in memoires %}
                <li><a href="{{url_for('liste_memoires', memoire_id=memoire.memoire_id)}}">{{memoire.memoire_titre}}, {{memoire.memoire_auteur}}, {{memoire.memoire_annee}}</a></li>
            {% endfor %}
        </ul>

</div>
    {% else %}
    <p>La base de données est en cours de constitution</p>
    {%endif%}
{% endblock %}
