{% extends "conteneur.html" %}

{% block corps %}

<div class="row">
	<div class="col">
		<h1>Bienvenue sur la plateforme des mémoires</h1>
		<p>La plateforme des mémoires permet d'accéder aux divers mémoires qui ont été rédigés par les étudiants du master "Technologies numériques appliquées à l'histoire" de l'<a href="http://www.chartes.psl.eu">École nationale des Chartes</a> dans le cadre de leur stage de fin d'année dans des institutions spécialisées ou dans leur mémoire de recherche de validation de master.</p>
		<p>À l'aide de la barre de navigation, vous pouvez retrouvez tous les mémoires présents sur le site, rechercher par mots-clés ou par catégories. Vous avez également la possiilité de vous inscrire/connecter si vous êtes un ancien étudiant de l'école ou un tuteur et une fois cela fait, vous pouvez accédez à votre profil.</p>
		<p>Cette plateforme a été développée dans le cadre d'un devoir de M2 par trois étudiantes de l'École, Floriane Chiffoleau, Anna Duchet-Annez et Marine Frey.</p>
	</div>
</div>


{% endblock %}