{% extends "conteneur.html" %}

{% block corps %}

 <h1>{{titre}}</h1>
 {% if recherche %}

         <p>Nous avons trouvé {{recherche.total}} mémoires qui correspondent à votre recherche :</p>
         <ul>
             {% for memoire in recherche.items %}
                 <li><a href="{{url_for('memoire', memoire_id=memoire.memoire_id)}}">{{memoire.memoire_titre}}, {{memoire.memoire_auteur}}, {{memoire.memoire_annee}}</a></li>
             {% endfor %}
         </ul>

     <nav aria-label="research-pagination">
       <ul class="pagination">
         {%- for page in recherche.iter_pages() %}
             {% if page %}

               {% if page != recherche.page %}
                 <li class="page-item">
                     <a class="page-link" href="{{url_for('resultats_avancees', auteurs=auteurs, tuteurs=tuteurs, institutions=institutions, keywords=keywords, annee=annee)}}">{{page}}</a>
                 </li>
               {% else %}
                 <li class="page-item active disabled">
                   <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                 </li>
               {% endif %}

             {% else %}
                 <li class="page-item disabled">
                   <a class="page-link">...</a>
                 </li>
             {% endif %}

         {%- endfor %}
       </ul>
     </nav>
     {% endif %}

 {% endblock %}